/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/outfit-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/outfit-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Colors */
  --c-slate-900: hsl(218, 44%, 22%);
  --c-slate-500: hsl(216, 15%, 48%);
  --c-slate-300: hsl(212, 45%, 89%);
  --c-white: hsl(0, 0%, 100%);

  /* Fonts Size */
  --fs-15: calc(15 / 16 * 1rem);
  --fs-22: calc(22 / 16 * 1rem);

  /* Fonts Weight */
  --fw-regular: 400;
  --fw-bold: 700;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  background-color: var(--c-slate-300);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--c-white);
  width: 320px;
  padding: 16px 16px 40px 16px;
  border-radius: 20px;

  .card__img {
    border-radius: 10px;
  }

  .card__title {
    font-weight: var(--fw-bold);
    color: var(--c-slate-900);
    font-size: var(--fs-22);
    padding: 24px 16px 0;
    line-height: 1.2em;
    text-align: center;
  }

  .card__description {
    font-weight: var(--fw-regular);
    color: var(--c-slate-500);
    font-size: var(--fs-15);
    padding: 16px 16px 0 16px;
    line-height: 1.4em;
    letter-spacing: 0.2px;
    text-align: center;
  }
}
